.team-list {
    padding: 24px;
  
    .title {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 24px;
    }
  
    .team-list-container {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      justify-content: space-between;
  
      .team-card {
        display: flex;
        align-items: center;
        width: 50%;
        height: 200px;
        max-width: 50%;
        padding: 24px;
        border-radius: 12px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
        background-color: rgba(157, 157, 157, 0.102);
        transition: box-shadow 0.3s, transform 0.2s;
        cursor: pointer;
        box-sizing: border-box;
  
        @media (max-width: 768px) {
          max-width: 100%;
        }
  
        &:hover {
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          transform: translateY(-2px);
        }
  
        .team-info {
          display: flex;
          align-items: center;
  
          .avatar {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            margin-right: 24px;
          }
  
          .user-details {
            display: flex;
            flex-direction: column;
  
            .user-name {
              font-weight: 600;
              font-size: 22px;
            }
  
            .user-role {
              font-size: 18px;
              color: gray;
              margin-top: 8px;
            }
          }
        }
      }
    }
  }
  