<div class="team-list">
  <h2 class="title">Team - {{ teamName }}</h2>
  <mat-list class="team-list-container">
    <mat-list-item
      *ngFor="let user of users"
      class="team-card"
      (click)="selectUser(user)">
      <div class="team-info">
        <img
          mat-list-avatar
          [src]="user.avatar_url || 'default-avatar-url.jpg'"
          alt="{{ user.firstname }}'s Avatar"
          class="avatar" />
        <div class="user-details">
          <span mat-line class="user-name">{{ user.firstname }} {{ user.lastname
            }}</span>
          <span mat-line class="user-role">{{
            user.tags || "Teammitglied"
            }}</span>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</div>
