
@use '@angular/material' as mat;
@include mat.core();

$your-project-name-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));
:root {
  @include mat.all-component-themes($your-project-name-theme);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 